src/main/mule/system-orderitem-db-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    
    <flow name="system-orderitem-db-api-main">
        <http:listener path="${secure::http.path}" config-ref="httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="system-orderitem-db-api-config1" />
        <error-handler ref="globalError_Handler" />
    </flow>
    <flow name="system-orderItem-db-api-console">
        <http:listener path="/console/*" config-ref="httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="system-orderitem-db-api-config1" />
        <error-handler ref="globalError_Handler" />
    </flow>
    <flow name="get:\orderItems:system-orderitem-db-api-config1">
		<flow-ref doc:name="get-orderItem-by-queryparam-flow" doc:id="aff7d505-2ce5-454e-b862-451572410348" name="get-orderItem-by-quieryparam-flow"/>
		<error-handler ref="globalError_Handler" />
    </flow>
</mule>
